html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul, li{
    list-style-type: none;
    display: flex;
}
.blogTags .tag{
    padding: 0 16px 0 0;
}

body.layout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px repeat(3, auto) 70px;
    grid-template-areas: "header header header header"
        "banner banner banner banner"
        "main main main aside"
        "pop pop pop pop"
        "footer footer footer footer"
    ;
    gap: 8px;
}
/* Grid Areas */
.header{
    padding: 10px;
    background-color:lightseagreen;
    grid-area: header;
}
.banner{
    width: 100%;
    padding: 0 10px;
    height: 400px;
    /* background-color: bisque; */
    grid-area: banner;
}
main{
    padding-left: 10px;
    /* background-color: blueviolet; */
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;

}
.popBlog{
    padding: 0 10px;
    /* background-color: chartreuse; */
    grid-area: pop;
}
.relBlogs{
    padding-right: 10px;
    /* background-color: darkgoldenrod; */
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer{
    padding: 10px;
    background-color: lightseagreen;
    grid-area: footer;
}
/* Content Areas */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .ul{
    display: flex;
    align-items: center;

}
.navlink{
    padding: 0 8px;
}
.blogBanner{
    width: 100%;
    height: 100%;
    color: aliceblue;
    /* background-color: gainsboro; */
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    position: relative;
    
    border:1px solid gainsboro;
}
.blogBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogBanner .blogContent{
    position: absolute;
    bottom: 15px;
    padding: 0 24px 8px;
}

.blogCard{
    font-size: 12px;
    /* width: 200px;
    background-color: crimson;
     */
     display: flex;
     flex-direction: column;
     padding: 10px;
     border: 1px solid gainsboro;

}
.imgcard{
    width: 100%;
    height: 100%;
    
}
.blogCardRel{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    position: relative;
    color: aliceblue;
    height: 90px;
    padding: 4px;
    border: 1px solid gainsboro;
}
.blogCardRel .imgcard{
    object-fit: cover;
    width: 100%;
}
.blogCardRel .blogContent{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0 8px 4px;
}

.blogCardPop{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid gainsboro;
}

.blogCardPop .imgcard{
    width: 40%;
    height: 100%;
}
.blogContentPop{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}